@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Hello Agrivi!
                </p>
                <p>
                    You need to login to get started.
                </p>
                    <a class="btn btn-default" asp-area="" asp-controller="People" asp-action="Index">
                        Get started
                    </a>
                
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    The web application lets you view, create, edit or delete people (subscribers).
                    </p>
                    <a class="btn btn-default" asp-area="" asp-controller="People" asp-action="Index">
                        Manage people
                    </a>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    For testing purposes the application also lets you add, remove or edit topics.
                </p>
                    <a class="btn btn-default" asp-area="" asp-controller="Topics" asp-action="Index">
                        Manage topics
                    </a>
                
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Some data can also be retreived in JSON format using the API.
                </p>
                    <a class="btn btn-default" asp-area="" asp-controller="Home" asp-action="Api">
                        Learn more
                    </a>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Database</h2>
        <ul>
            <li>This application uses the mySQL database to store user and resource data</li>
            <li>Current database has been hosted freely thanks to  <a href="https://www.freemysqlhosting.net">www.freemysqlhosting.net</a> with a size limitation of 5MB</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Web Application</h2>
        <ul>
            <li>This is an ASP.NET Core Web Application targeting .NET Framework 4.6 </li>
            <li>It uses <a href="https://docs.microsoft.com/en-us/ef/core/">Entity Framework Core</a> v1.1.1 for object-relational mapping</li>
            <li><a href="https://docs.microsoft.com/en-us/aspnet/core/security/authentication/identity">ASP.NET Core Identity</a> is used to manage authentification</li>
            <li>It was build using Visual Studio 2017</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Web API</h2>
        <ul>
            <li>Web API is built upon the MVC Web Application</li>
            <li>Returns JSON-formatted data</li>
            <li>Uses the same authentification as the Web Application</li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Replication</h2>
        <ul>
            <li>You can get both the Web Application & Web API source code at <a href="https://go.microsoft.com/fwlink/?LinkID=517851">GitHub</a></li>
            <li>To replicate the database you can use dump file <a asp-area="" asp-controller="Home" asp-action="GetStructureAndData">with sample data</a> or
                <a asp-area="" asp-controller="Home" asp-action="GetStructure">without sample data (shema only)</a>
            </li>
            <li>If you're switching to diffrent database you'll need to edit the DefaultConnection string in appsettings.json</li>
        </ul>
    </div>
</div>
